.contacts {

  &__wrapper {
    @include r($r-md) {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include r($r-md){
      &:not(:last-child){
        margin-bottom: 40px;
      }
    }
  }

  &__img-box {
    max-width: 33px;
    max-height: 33px;
    margin-bottom: 20px;
  }

  &__img {
    object-fit: cover;
  }
}