.footer {
  background-color: $text-color;
  color: #fff;
  padding: 35px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__col{
    flex-basis: 1;
    &--first{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__copy{
    margin-top: auto;
  }
}

.payment{
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    &:not(:last-child){
      margin-right: 20px;
    }
  }
}

.contacts{
  &__link{
    display: block;
    margin-bottom: 15px;
    &--phone{
      font-size: 20px;
      @include bold;
    }
    &--email{
      text-decoration: underline;
    }
  }
}

.social {
  &__list {
    display: flex;
  }

  &__item {

    padding: 4px;
    background-color: $bg-main;

    width: 25px;
    height: 25px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    background-size: contain;

  }

}