.header {
  margin-bottom: 80px;

  @include r($r-sm) {
    margin-bottom: 60px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $bg-main;
  z-index: 99;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mobile,
  &__landline {
    text-align: right;

    @include r($r-lg) {
      display: none;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    @include bold;
    text-decoration: none;
    color: $text-color;
  }

  &__small-text {
    display: block;
    font-size: 14px;
    color: $text-color-light;
    text-decoration: none;
  }
}

.menu {
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 16px 0;
  background-color: $primary;
  transform: translateY(-200%);
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;


  @include r($r-md) {
    top: 60px;
  }

  &--active {
    transform: translateY(0);
    transition: transform 0.3s;
    opacity: 1;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;


    @include r($r-md) {
      padding-top: 20px;
      flex-direction: column;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 17px;
    color: $bg-main;
    &:hover{
     text-shadow: 1px 0 0 #fff;
    }

    @include r($r-md) {
      display: block;
      padding: 10px;
      width: 100%;
      text-align: center;
    }

    @include r($r-sm) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(#510bba, 0.1);
  border-left: 1px solid rgba(#510bba, 0.1);
  height: 80px;
  width: 70px;
  cursor: pointer;



  @include r($r-sm) {
    height: 60px;
  }


}

.navicon {
  display: block;
  height: 3px;
  width: 20px;
  background-color: #89a9eb;
  position: relative;
  transition: background-color 0.2s;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #89a9eb;
    transition: transform 0.3s;

  }

  &::before {
    top: -5px;
  }

  &::after {
    bottom: -5px;
  }

  &--active {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.logo {
  @include r($r-sm) {
    display: none;
  }

  &__text {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    @include bold;
  }

  &__description {
    display: block;
    font-size: 14px;
    color: $text-color-light;
    font-size: 14px;
  }
}