.offer {
  padding: 129px 0;

  &__title {
    font-size: 25px;
    text-transform: uppercase;
    @include bold;
    margin-bottom: 20px;

    @include r($r-md) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 21px;
    display: block;
    margin-bottom: 48px;
    max-width: 820px;

    @include r($r-md) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

}

.offer-block {
  padding: 80px;
  margin-top: -200px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);

  &--calc {
    background: $bg-main url('../images/offer/offer-bg.png') no-repeat center right;
    background-size: contain;
  }

  &--cheaper {
    background: $bg-main url('../images/cheaper/cheaper-bg.png') no-repeat center right;
    background-size: contain;
  }

  @include r($r-xl) {
    background-position: center right -125px;
  }

  @include r($r-lg) {
    background-image: none;
    background-color: $bg-main;
  }

  @include r($r-md) {
    background-image: none;
    padding: 30px;
  }

}

.form {

  &__row {
    display: flex;
    align-items: center;
    max-width: 900px;

    @include r($r-md) {
      flex-direction: column;
    }

    &--checkbox {
      @include r($r-md) {
        flex-direction: row;
      }

      @include r($r-sm) {
        flex-direction: column;
        align-items: start;
      }
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__label {
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
  }

  &__group {
    flex-basis: calc(100% / 3);

    @include r($r-md) {
      flex-basis: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    &:not(:last-child) {
      .form__input {
        border-right-width: 0px;

        @include r($r-md) {
          border-right-width: 1px;

        }
      }
    }
  }

  &__checkbox {
    @include r($r-sm) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

  }

  &__input {
    width: 100%;
  }

  &__button {
    height: 80px;
    width: 100%;

    &--cheaper {
      margin-right: 45px;
    }
  }

  &__checkbox {
    .form__label {
      display: inline;
    }
  }

  &__policy {
    margin-left: 45px;
    font-size: 17px;
    max-width: 370px;
    width: 100%;
  }
}

.select {
  height: 80px;
  width: 100%;
  border: 1px solid #dddddd;
  position: relative;
  z-index: 1;
  &:hover{
    cursor: pointer;
  }
  &:after{
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 10px;
    background-color: $bg-main;
    background: url('../images/offer/caret.png') no-repeat center;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  &__checked {
    padding-left: 30px;
    line-height: 80px;
  }
  &__dropdown{
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: $bg-main;
    border: 1px solid #dddddd;
    display: none;
    &--active{
      display: block;
    }

  }

  &__option{
    padding: 20px;
    &:hover{
      background-color: $bg-secondary;
    }
  }
}

.checkbox {

  &:not(:last-child) {
    margin-right: 40px;
  }

  &__label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 50px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 1px solid #dddddd;
      appearance: none;
    }
  }

  &__input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;

    &:checked+label:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 13px;
      width: 6px;
      height: 14px;
      border: solid $primary;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

}












///@at-root
*{box-sizing:border-box;}
.select{
  border: 1px solid #eee;
  width: 200px;
}

.select__head{
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: pointer;
}
.select__head:after{
    content: "\25bc";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;

  }

.select__body{
  display: none;
}
.select__body--active{
  display: block;
}
.select__body{
  width: 100%;
  margin: 0;
  padding: 10px;
  list-style-type:none;
}