<div class="catalog-item" style="background-image: url('../images/catalog/catalog-@@catalog-image.png');">
<span class="collection">
  @@collection
</span>

<ul class="catalog-item__list">
  <li class="catalog-item__item">
    <button class="catalog-item__button catalog-item__button--tryon" type="button">Примерить онлайн</button>
  </li>
  <li class="catalog-item__item">
    <button class="catalog-item__button catalog-item__button--order" type="button">заказать</button>
  </li>
  <li class="catalog-item__item">
    <button class="catalog-item__button catalog-item__button--like" type="button">
      
    </button>
  </li>
</ul>
</div>